*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: #000;
  background-color: #fff;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}