*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: #000;
  background-color: #fff;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.reviews {
  display: flex;
  overflow: hidden;
}

.review {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
  margin-bottom: 24px;

}

.img {
  width: 50%;
}

.name {
  font-weight: 700;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 15px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  margin: 0 auto;
}