*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: #000;
  background-color: #fff;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px;
}

h1 {
  margin: 0;
}

.hamburger {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}

.hamburger img {
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  display: none;
}

.show-menu {
  width: 300px;
  display: flex;
  position: absolute;
  left: 48px;
  padding: 24px 0;
}

.rotate {
  transform: rotate(90deg);
}

.menu a {
  color: #000;
  text-decoration: none;
}

.social-media {
  display: flex;
  gap: 24px;
  display: none;
}

.social-media__item {
  color: #000;
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
  }

  .social-media {
    display: block;
  }
}